@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body {
  background: #f2f2f2;
  padding: 0;
  margin: 0;
  font-family: Roboto;
  background-image: url('../public/assets/img/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% - 25%;
}

#cta {
  background-image: url('../public/assets/img/bg-simplify-section-desktop.svg');
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }
  #cta {
    background-image: url('../public/assets/img/bg-simplify-section-mobile.svg');
  }
}

/* Hamburger menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-botom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

a {
  color: #333;
  text-decoration: none;
}

.landingPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainPage {
  flex: 1;
}

nav {
  display: flex;
  gap: 16px;
  padding: 16px;
  align-items: center;
}
nav .logo {
  flex: 1;
  font-weight: 600;
  font-size: 24px;
}

footer {
  text-align: center;
  font-size: 24px;
}